@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&family=Ysabeau+Infant:wght@500&display=swap');

.logo{
    font-family: 'Ysabeau Infant', sans-serif;
    font-weight: 400;
    font-size: xx-large;
}

html,
h1 {
    font-family: 'Ysabeau Infant', sans-serif;
    color: red;
    
}

.bold-value {
    font-weight: bold;
    font-size: x-large;
  }

.fw-500{
    font-weight: 500 !important;

}

img {
    max-width: 100%; /* Make the image responsive */
    height: auto; /* Maintain aspect ratio */
}

@keyframes rainbowBackground {
    0% { background-color: red; }
    14% { background-color: orange; }
    28% { background-color: yellow; }
    42% { background-color: green; }
    57% { background-color: blue; }
    71% { background-color: indigo; }
    85% { background-color: violet; }
    100% { background-color: red; }
}

.rainbow-button {
    animation: rainbowBackground 4s infinite;
}