{% extends "../base/base.html" %}
{% load static %}
{% block content %}
{% include "../base/navbar.html" %}

<div class="container">

  <!DOCTYPE html>
  <html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cost Split Graph using Chart.js</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.17.3/xlsx.full.min.js"></script>
  </head>
  <body>
    <div class="container" id="inputContainer">
      <h1>Cost Split Graph Generator</h1>
      <label for="areaInput">Enter Built-Up Area:</label>
      <input type="number" id="areaInput">
      <select id="buildingType">
        <optgroup label="Building Type">
          <option value="Residential">Residential</option>
          <option value="Commercial">Commercial</option>
        </optgroup>
      </select>
      <select id="budgetingType">
        <optgroup label="Budgeting">
          <option value="Ultra Low Cost">Ultra Low Cost</option>
          <option value="Low Cost">Low Cost</option>
          <option value="Medium">Medium</option>
          <option value="Luxury">Luxury</option>
          <option value="Ultra Luxury">Ultra Luxury</option>
        </optgroup>
      </select>
      
      <button id="generateButton">Generate Graph</button>
    </div>
    <button id="downloadExcelButton" style="display: none;">Download Excel</button>

    <div style="width: 80%; max-width: 1920px; margin: 20px auto;" id="chartContainer">
      <p id="totalCostText" style="text-align: center;"></p>
      <canvas id="costSplitChart"></canvas>
    </div>
    
    <script>
      const inputContainer = document.getElementById('inputContainer');
      const chartContainer = document.getElementById('chartContainer');
      const totalCostText = document.getElementById('totalCostText');
      
      const ctx = document.getElementById('costSplitChart').getContext('2d');
      let myChart;

      const uniqueColors = [
        'rgba(255, 99, 132, 0.7)', 'rgba(54, 162, 235, 0.7)', 'rgba(75, 192, 192, 0.7)',
        'rgba(255, 205, 86, 0.7)', 'rgba(153, 102, 255, 0.7)', 'rgba(255, 159, 64, 0.7)',
        'rgba(23, 160, 52, 0.7)', 'rgba(255, 102, 0, 0.7)', 'rgba(135, 50, 96, 0.7)',
        'rgba(0, 77, 77, 0.7)', 'rgba(184, 35, 99, 0.7)', 'rgba(189, 189, 189, 0.7)'
      ];

      // Function to export data to Excel
      function exportExcel(cost_split_label, cost_split) {
        const data = [cost_split_label, cost_split];
        const ws = XLSX.utils.aoa_to_sheet(data);

        const wb = XLSX.utils.book_new();
        XLSX.utils.book_append_sheet(wb, ws, "Cost Split Data");

        const excelBuffer = XLSX.write(wb, { bookType: "xlsx", type: "array" });
        const blob = new Blob([excelBuffer], { type: "application/vnd.openxmlformats-officedocument.spreadsheetml.sheet" });

        const fileName = "cost_split_data.xlsx";
        const link = document.createElement("a");
        link.href = window.URL.createObjectURL(blob);
        link.download = fileName;
        link.click();
      }

      // Function to generate graph
      function generateGraph() {
        const areaValue = parseFloat(document.getElementById('areaInput').value);
        const buildingType = document.getElementById('buildingType').value;
        const budgetingType = document.getElementById('budgetingType').value;

        const cost_factors_residential = {
          'Ultra Low Cost': 1000,
          'Low Cost': 1500,
          'Medium': 2400,
          'Luxury': 2800,
          'Ultra Luxury': 3500,
        };

        const cost_factors_commercial = {
          'Ultra Low Cost': 500,
          'Low Cost': 1000,
          'Medium': 1500,
          'Luxury': 2000,
          'Ultra Luxury': 3000,
        };

        let cost_factors;

        if (buildingType === 'Residential') {
          cost_factors = cost_factors_residential;
        } else if (buildingType === 'Commercial') {
          cost_factors = cost_factors_commercial;
        }

        if (!isNaN(areaValue) && cost_factors) {
          const costValue = areaValue * cost_factors[budgetingType];

          const cost_split_label = [
            'Design and Approval', 'Excavation & Site clearence', 'Footing and Foundation',
            'RCC Work (Pillars, Columns, Slabs)', 'Brickwork and Plastering',
            'Roof Slab', 'Flooring and Tiling', 'Water Supply and Plumbing',
            'Electric Wiring', 'Doors and Windows', 'Painting', 'Furnishing'
          ];

          const cost_split_percentage = [
            0.025, 0.03, 0.12, 0.10, 0.16, 0.13, 0.10, 0.05, 0.08, 0.08, 0.07, 0.055
          ];

          const cost_split = cost_split_percentage.map(percentage => costValue * percentage);

          const downloadExcelButton = document.getElementById('downloadExcelButton');
          downloadExcelButton.style.display = 'block';

          if (myChart) {
            myChart.destroy(); // Destroy previous chart instance
          }

          myChart = new Chart(ctx, {
            type: 'bar',
            data: {
              labels: cost_split_label,
              datasets: [{
                data: cost_split,
                backgroundColor: uniqueColors,
                borderColor: 'rgb(54, 162, 235)',
                borderWidth: 1
              }]
            },
            options: {
              plugins: {
                title: {
                  display: true,
                  text: 'Cost Split Graph'
                },
                legend: {
                  display: false
                },
                tooltip: {
                  callbacks: {
                    label: function(context) {
                      const value = context.parsed.y;
                      const percentage = ((value / costValue) * 100).toFixed(2);
                      return '\u20B9' + value.toFixed(2) + ' (' + percentage + '%)';
                    }
                  }
                }
              },
              scales: {
                y: {
                  beginAtZero: true,
                  ticks: {
                    callback: function (value, index, values) {
                      return '\u20B9' + value.toFixed(2);
                    }
                  }
                }
              }
            }
          });

          totalCostText.textContent = `The total area of this ${buildingType} project is ${areaValue} sq.ft and the total cost of this project is \u20B9${costValue.toFixed(0)}, calculated as \u20B9${cost_factors[budgetingType]} per square feet.`;

          inputContainer.style.display = 'none';
          chartContainer.style.display = 'block';
        } else {
          alert('Please enter valid values for area, building type, and budgeting type.');
        }
      }

      // Set up the event listener for the "Generate Graph" button
      document.getElementById('generateButton').addEventListener('click', generateGraph);

      // Set up the event listener for the "Download Excel" button
      document.getElementById('downloadExcelButton').addEventListener('click', function() {
        exportExcel(cost_split_label, cost_split);
      });
    </script>
  </body>
  </html>

</div>

{% endblock %}
