{% extends "../base/base.html" %}

{% load static %}
{% block content %}
{% include "../base/navbar.html" %}
{% include "./components/splash.html" %}
<div class="container">
    <h1>Try our Latest Tool</h1>
    <h2>Estimate your budget for the Project</h2>
    {% load static %}
    <button type="button" class="btn btn-dark rounded-pill fs-10 fw-500" style="font-size: 16px; padding: 15px 30px;">
        <a href="{% url 'tools' %}" style="text-decoration: none; color: white; display: block;">
            Try our Tool!
        </a>
    </button>
    
    <button type="button" class="btn rounded-pill fs-10 fw-500 rainbow-button" style="font-size: 20px; padding: 20px 40px;">
        <a href="{% url 'realfun' %}" style="text-decoration: none; color: white; display: block;">
            Play instead!!!
        </a>
    </button>

</div>
{% endblock %}
