{% extends "../base/base.html" %}

{% load static %}
{% block content %}
{% include "../base/navbar.html" %}
{% include "./components/splash.html" %}
<div class="container">
    <h1>Try our Latest Tools</h1>

    {% load static %}
    <button type="button" class="btn btn-dark rounded-pill fs-10 fw-500" style="font-size: 16px; padding: 15px 30px;">
        <a href="{% url 'plan' %}" style="text-decoration: none; color: white; display: block;">
            Plan your Space!
        </a>
    </button>
    <button type="button" class="btn btn-dark rounded-pill fs-10 fw-500" style="font-size: 16px; padding: 15px 30px;">
        <a href="{% url 'tools' %}" style="text-decoration: none; color: white; display: block;">
            Find the Cost!
        </a>
    </button>
    


</div>
{% endblock %}
